/* Text */
.center {
    text-align: center;
  }

.margin-top-20 {
    margin-top: 20px;
}

.margin-right-20 {
    margin-right: 20px;
}

.gray-text {
    position: relative;
    width: 41px;
    height: 20px;
    border: none;
    background: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    color: rgba(0, 0, 0, 0.3);
}

.kassandra-link {
    width: 128px;
    height: 20px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Button */
.kassandra-button {
    box-sizing: border-box;

    position: relative;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #3FE3C8;
    
    border: 2px solid #3FE3C8;
    box-shadow: inset 6.15952e-16px 10.0593px 10.0593px rgba(50, 182, 160, 0.5), inset -6.15952e-16px -10.0593px 10.0593px rgba(73, 255, 232, 0.5);
    border-radius: 40px;
}

.kassandra-button-shadow {
    box-sizing: border-box;

    position: relative;
    width: 440px;
    height: 45px;
    left: 40px;
    margin-top: 20px;

    background: linear-gradient(135deg, #FFFFFF 0%, #EDEDED 100%);
    box-shadow: -10px 10px 20px rgba(229, 229, 229, 0.2), 10px -10px 20px rgba(229, 229, 229, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(229, 229, 229, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(229, 229, 229, 0.5);
    border-radius: 40px;
}

.kassandra-action-button {
    box-sizing: border-box;

    position: relative;
    width: 440px;
    height: 45px;
    margin-top: 40px;

    background: #3FE3C8;
    border: 2px solid #3FE3C8;
    box-shadow: inset 6.15952e-16px 10.0593px 10.0593px rgba(50, 182, 160, 0.5), inset -6.15952e-16px -10.0593px 10.0593px rgba(73, 255, 232, 0.5);
    border-radius: 40px;
}

.phantom-button {
    position: relative;
    width: 45px;
    height: 45px;
}

/* Content */
.content {
    position: relative;
    margin-top: 30px;
}

.content-left {
    position: relative;
    left: 30px;
    margin-top: 30px;
}

.content-margin-top-50 {
    position: relative;
    margin-top: 50px;
}

.content-drop-shadow-boarder {
    position: relative;
    width: 520px;
    height: 785px;
    left: 500px;

    background: #F6F6F6;
    box-shadow: -20px 20px 40px rgba(234, 234, 234, 0.2), 20px -20px 40px rgba(234, 234, 234, 0.2), -20px -20px 40px rgba(255, 255, 255, 0.9), 20px 20px 50px rgba(234, 234, 234, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(234, 234, 234, 0.5);
    border-radius: 20px;
}

/* Description */
.kassandra-description {
    position: relative;
    width: 440px;
    height: 30px;
    top: 5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 135%;
    
    display: flex;
    align-items: center;
    
    color: #000000;
}

.kassandra-description-shadow {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;

    width: 440px;
    height: 70px;
    left: 30px;
    
    background: linear-gradient(135deg, #F2F2F2 0%, #FFFFFF 100%);
    border: 1px solid rgba(221, 218, 218, 0.3);
    border-radius: 15px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.kassandra-description-shadow-2-lines {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;

    width: 440px;
    height: 90px;
    left: 30px;

    background: linear-gradient(135deg, #F2F2F2 0%, #FFFFFF 100%);
    border: 1px solid rgba(221, 218, 218, 0.3);
    border-radius: 15px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Field */
.kassandra-field {
    box-sizing: border-box;

    position: relative;
    outline: none;
    width: 440px;
    height: 40px;
    left: 30px;
    margin-top: 5px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
    background: #FFFFFF;
    border: 0.5px solid #DDDADA;
}

.kassandra-field-right {
    top: 15px;
    right: 45px;
    float: right;
}

/* Label */
.kassandra-label {
    position: relative;
    width: 440px;
    height: 20px;
    left: 30px;
    margin-top: 30px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;

    display: flex;
    align-items: center;

    color: #000000;
}

/* Member Icon */
.member-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 10px;
    position: absolute;
    width: 45px;
    height: 40px;
    top: 20px;
}

/* Title */
.kassandra-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 10px 15px 0px;
    gap: 10px;
    
    position: relative;
    width: 440px;
    height: 20px;
    left: 40px;
    top: 15px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
    